@import url('https://fonts.googleapis.com/css2?family=Play&family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;

}
header{
  position:fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content:space-around;
  align-items: center;
  height: 12vh;
  /*background: linear-gradient(180deg, rgba(0,0,0,0.9) 60%, rgba(255,0,0,0) 100%);*/
  z-index: 5;
  
}

.unactivescroll{
  background: linear-gradient(180deg, rgba(0,0,0,0.9) 60%, rgba(255,0,0,0) 100%);
}
.activescroll{
  background: rgba(0,0,0,0.9);
}
header h1{
  height: 100%;
}
.burger-menu{
  width: 2.3rem;
  cursor: pointer;
  display: none;
}
.bar{
  width: 100%;
  background-color: rgba(250, 250, 250, 0.55);
  height: 3px;
  margin-top: 0.65rem;
  transition: transform ease-in-out 0.4s;
}
.navlinks{
  display: flex;
  width: 45%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  transition: all ease-in-out 0.5s;
}
.logo{
  font-family: 'Play', sans-serif;
  letter-spacing: 3px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.95);
  text-shadow: rgba(255, 255, 255, 0.2) 6px 0px 3px;
}
.navlinks a{
  text-decoration: none;
  position: relative;
  font-family: 'Roboto';
  text-transform: uppercase;
  color: rgba(250, 250, 250,0.9);
}
.navlinks a:link{
  color: inherit;
}
.navlinks a::after{
  content: '';
  width: 100%;
  height: 0.2rem;
  position: absolute;
  left: 0;
  bottom: -0.18rem;
  background-color: rgb(255, 255, 255);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform ease-in-out 0.4s;
}
.navlinks a:hover::after{
  transform-origin: left;
  transform: scaleX(1); 
}
/*HASTA ACA LLEGA EL NAVBAR*/
.page-container{
    min-height: 90vh;
}

/*FOOTER*/
.footer{
  font-family: "Play", sans-serif;
  height: 10vh;
  width: 100%;
  background-color: #111;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.footer-social{
  display: flex;
  justify-content: space-between;
  width: 5rem;
  font-size: 1.4rem;
  color: #fff;
}
.footer-social a:link,:active{
  color: rgb(250, 250, 250);
}
/*HERO SECTION DE LA HOME*/
.hero-section{
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/hero-image.jpg');
  background-size: cover;
  background-position: center;
  height: 80vh;
  
}
.hero-section-text{
  position: relative;
  top: 3rem;
  padding: 3rem 0;
  line-height: 1.5rem;
  margin: 0 auto;
  font-size: 1.2rem;
  max-width: 80%;
  text-align: center;
  color: rgba(250, 250, 250,0.9);
}
.hero-section-text h2{
  padding: 0.75rem 0;
}
.hero-section-text h3{
  color: rgba(255, 255, 255, 0.7);
}
/*ABOUT SECTION DE LA HOME PAGE*/
.home-about{
  width: 80vw;
  margin: 0 auto;
  color: #fafafa;
  font-family: 'Roboto' sans-serif;
  line-height: 1.2rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
}

.home-about-column{
  color: #fafafa;
  font-family: 'Roboto' sans-serif;
  line-height: 1.2rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.home-about-column svg{
  color: rgb(30, 40, 80);
  background-color: #fafafa;
  border-radius: 50%;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}





@media(max-width:1024px){
  header{
    position:fixed;
    width: 100%;
    top: 0;
    justify-content: space-evenly;
    z-index: 5;
  }
  .logo{
    font-size: 0.8rem;
  }
  .burger-menu{
    display: block;
    position: relative;
    
  }
  .navlinks{
    background: linear-gradient(270deg, rgba(0,0,0,0.9) 75%, rgba(255,0,0,0) 100%);
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    top: 11.8vh;
    right: 0;
    width: 50vw;
    height: 90vh;
    border: none;
    transform: scaleX(0);
    transform-origin: right;
  }

  .hero-section-text{
    max-width: 95%;
  }
  
  .hero-section{
    height: 60vh;
  }
}
.navlink-active{
  transform: scaleX(1);
}
.anchor-active{
  color:#fafafa !important;
}
.bar1-active{
  transform: rotate(45deg) translate(0.20rem,1rem);
}
.bar2-active{
  opacity: 0;
}
.bar3-active{
  transform: rotate(-45deg) translate(0.20rem,-1rem);
}